<section id="contact">
  <h1 class="heading mb45px">
    <span>
      <i class="far fa-address-card"></i>
    </span>
    <span> Contact </span>
  </h1>
  <div class="container">
      <form>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Your Name"
          class="form-control"
        />

        <input
          type="email"
          name="mail"
          id="mail"
          placeholder="Your Email"
          class="form-control"
        />

        <textarea
          name=""
          id=""
          cols="40"
          rows="2"
          placeholder="Message"
          class="form-control"
        ></textarea>
        <div class="button text-center">
          <button class="btn btn-primary">Send Message</button>
        </div>
      </form>
    </div>
</section>
