<section id="about">
  <div class="content">
    <div id="my-image">
      <img src="assets/images/my-passport-photo.jpg" alt="my-passport-photo" />
    </div>
    <div class="typing-container">
      <p>
        Hi, I'm Rama Koti Reddy Yerram, a passionate web developer with a strong
        foundation in frontend technologies. I hold a BTech in Computer Science
        from the National Institute of Technology Rourkela (2022). With
        certifications in Problem-solving, SQL, JavaScript, Python, and HTML5, I
        am proficient in languages like C, C++, JavaScript, Python, Java, and
        TypeScript. I also have experience with Node.js, React, and MongoDB.
        Eager to expand into backend development, I am working towards becoming
        a full-stack developer.
      </p>
    </div>
  </div>
</section>
