<section id="about">
  <div class="content">
    <div id="my-image">
      <img src="assets/images/my-passport-photo.jpg" alt="my-passport-photo" />
    </div>
    <div class="para">
      <p>
        Hello! I'm Rama Koti Reddy Yerram, a dedicated web developer with a
        strong foundation in frontend technologies. I graduated with a BTech in
        Computer Science from the National Institute of Technology Rourkela in
        2022. I'm passionate about continuous learning and have earned
        certifications in Problem-solving, SQL, JavaScript, Python, and HTML5. I
        am proficient in languages such as C, C++, JavaScript, Python, Java, and
        TypeScript. I'm also eager to expand my skills to include backend
        development, aspiring to become a full-stack developer.
      </p>
    </div>
  </div>
</section>
