<footer id="footer">
  <div class="container text-center">
    <a class="btn " href="http://" target="_blank"><i class="fa-brands fa-2x fa-linkedin"></i></a>
    <a class="btn " href="http://" target="_blank"><i class="fa-brands fa-2x fa-twitter"></i></a>
    <a class="btn " href="http://" target="_blank"><i class="fa-brands fa-2x fa-facebook"></i></a>
    <a class="btn " href="http://" target="_blank"><i class="fa-brands fa-2x fa-github"></i></a>
  </div>
  <div class="text-center text-muted">
    <p>&copy; All rights reserved.</p>
  </div>
</footer>
