<section id="projects">
  <div class="heading mb75px">
    <span> <i class="fas fa-th-list"></i></span>
    <span>Projects</span>
  </div>
  <div class="conatiner d-flex flex-wrap justify-content-around">
    <div class="image-container">
      <img src="../../../assets/images/projects.jpg" alt="" />
      <div class="details">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
          officiis voluptates minus, porro cum, voluptate commodi, sapiente
          totam quae atque sequi saepe excepturi dicta quos consectetur a ad
          nobis quia?
        </p>
        <button class="btn btn-primary">Project 1</button>
      </div>
    </div>
    <div class="image-container">
      <img src="../../../assets/images/projects.jpg" alt="" />
      <div class="details">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
          officiis voluptates minus, porro cum, voluptate commodi, sapiente
          totam quae atque sequi saepe excepturi dicta quos consectetur a ad
          nobis quia?
        </p>
        <button class="btn btn-primary">Project 2</button>
      </div>
    </div>
    <div class="image-container">
      <img src="../../../assets/images/projects.jpg" alt="" />
      <div class="details">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
          officiis voluptates minus, porro cum, voluptate commodi, sapiente
          totam quae atque sequi saepe excepturi dicta quos consectetur a ad
          nobis quia?
        </p>
        <button class="btn btn-primary">Project 3</button>
      </div>
    </div>
    <div class="image-container">
      <img src="../../../assets/images/projects.jpg" alt="" />
      <div class="details">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
          officiis voluptates minus, porro cum, voluptate commodi, sapiente
          totam quae atque sequi saepe excepturi dicta quos consectetur a ad
          nobis quia?
        </p>
        <button class="btn btn-primary">Project 4</button>
      </div>
    </div>
  </div>
</section>
