.image-container {
  max-width: 315px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 30px;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: opacity 0.3s ease-in-out;
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}

.image-container:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.details h3 {
  margin-bottom: 10px;
}

.details p {
  margin-bottom: 15px;
}

.details a {
  color: white;
  text-decoration: none;
}
