.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    var(--background-color) 0%,
    var(--hover-color) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  &.fade-out {
    opacity: 0;
    visibility: hidden;
  }
}

.loading-spinner {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 2rem;

  .spinner-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid rgba(var(--primary-rgb), 0.8);
    border-radius: 50%;
    animation: spin 1.5s linear infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.15s;
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
      border-top-color: rgba(var(--primary-rgb), 0.6);
    }

    &:nth-child(3) {
      animation-delay: 0.3s;
      width: 80%;
      height: 80%;
      top: 10%;
      left: 10%;
      border-top-color: rgba(var(--primary-rgb), 0.4);
    }

    &:nth-child(4) {
      animation-delay: 0.45s;
      width: 70%;
      height: 70%;
      top: 15%;
      left: 15%;
      border-top-color: rgba(var(--primary-rgb), 0.2);
    }
  }
}

.loading-text {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;

  .loading-dots {
    display: inline-block;

    span {
      display: inline-block;
      animation: bounce 1.4s ease-in-out infinite both;

      &:nth-child(1) {
        animation-delay: -0.32s;
      }
      &:nth-child(2) {
        animation-delay: -0.16s;
      }
      &:nth-child(3) {
        animation-delay: 0s;
      }
      &:nth-child(4) {
        animation-delay: 0.16s;
      }
      &:nth-child(5) {
        animation-delay: 0.32s;
      }
      &:nth-child(6) {
        animation-delay: 0.48s;
      }
      &:nth-child(7) {
        animation-delay: 0.64s;
      }
      &:nth-child(8) {
        animation-delay: 0.8s;
      }
      &:nth-child(9) {
        animation-delay: 0.96s;
      }
      &:nth-child(10) {
        animation-delay: 1.12s;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
