.education-degree {
  font-size: 1.4rem;
}

.education-college-name {
  margin: 5px 0 0;
  color: var(--primaryColor);
  font-weight: 400;
  font-size: 1.2rem;
}

.education-duration {
  color: #9e9b9b;
  font-weight: 100;
  color: grey;
  font-size: 1rem;
}
