<section id="skills" class="skills-section">
  <h1 class="heading">
    <span><i class="fa-solid fa-chalkboard-user"></i></span>
    <span>SKILLS</span>
  </h1>

  <div class="skills-display">
    <div *ngFor="let skill of skills" class="skill-progress">
      <div
        class="progress-bar"
        [style.width.%]="skill.percent"
        [style.backgroundColor]="skill.color"
      >
        <div class="skill-name">
          <span>{{ skill.name }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
