.skills-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-progress {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  margin: 10px;
}

.progress-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.skill-name {
  margin-left: 10px;
  flex: 1;
}

@media (max-width: 768px) {
  .skill-progress {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
