<section id="experience">
  <h1 class="heading mb75px">
    <span> <i class="fas fa-briefcase"></i></span>
    <span>Work Experience</span>
  </h1>
  <div class="timeline">
    <div class="timeline-box">
      <div class="timeline-container">
        <div class="timeline-logo">
          <img
            src="../../../assets/images/satisfic.png"
            style="height: 80px; width: 80px"
          />
        </div>
        <h3 class="experience-designation">Designation</h3>
        <h4 class="experience-company-name">Company Name</h4>
        <h5 class="experience-duration">Month YYYY - Month YYYY</h5>

        <p class="experience-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat aut
          iusto id voluptatibus at ullam necessitatibus ipsa.
        </p>
      </div>
    </div>
    <div class="timeline-box">
      <div class="timeline-container">
        <div class="timeline-logo">
          <img
            src="../../../assets/images/satisfic.png"
            style="height: 80px; width: 80px"
          />
        </div>
        <h3 class="experience-designation">Designation</h3>
        <h4 class="experience-company-name">Company Name</h4>
        <h5 class="experience-duration">Month YYYY - Month YYYY</h5>

        <p class="experience-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat aut
          iusto id voluptatibus at ullam necessitatibus ipsa.
        </p>
      </div>
    </div>
    <div class="timeline-box">
      <div class="timeline-container">
        <div class="timeline-logo">
          <img
            src="../../../assets/images/satisfic.png"
            style="height: 80px; width: 80px"
          />
        </div>
        <h3 class="experience-designation">Designation</h3>
        <h4 class="experience-company-name">Company Name</h4>
        <h5 class="experience-duration">Month YYYY - Month YYYY</h5>

        <p class="experience-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat aut
          iusto id voluptatibus at ullam necessitatibus ipsa.
        </p>
      </div>
    </div>
    <div class="timeline-box">
      <div class="timeline-container">
        <div class="timeline-logo">
          <img
            src="../../../assets/images/satisfic.png"
            style="height: 80px; width: 80px"
          />
        </div>
        <h3 class="experience-designation">Designation</h3>
        <h4 class="experience-company-name">Company Name</h4>
        <h5 class="experience-duration">Month YYYY - Month YYYY</h5>

        <p class="experience-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat aut
          iusto id voluptatibus at ullam necessitatibus ipsa.
        </p>
      </div>
    </div>
    <div class="timeline-divider">
      <div class="timeline-traveller">
        <i class="fas fa-plane"></i>
      </div>
    </div>
  </div>
</section>
